.header {
  display: flex;
  border-bottom: 1px slid black;
  padding: 10px 30px;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 100px;
  height: 100px;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.links a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

.links .active {
  color: blue;
  font-size: 30px;
}